@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  min-height: 100vh;
  width: 100%;
}
.container {
  max-width: 1200px;
  width: 1200px;
  margin: 0 auto;
  padding: 10px;
  min-height: 100vh;
}
h1 {
  font-size: 40px;
  text-align: center;
  margin-top: 50px;
}
#dark {
  background: #2c2c2c;
  color: #e0e0e0;
}
#light {
  background-color: #fff;
}

@media only screen and (max-width: 950px) {
  .main, .container {
    width: 100%;
  }
}
